<div class="container">
  <span class="header">Pizzaria Horácio</span>
  <div class="container_demo">
    <div id="wrapper">
      <div id="comanda">
        <h1>Comanda</h1>
        <form>
          <p>
            <label>Chopp</label>
            <input type="text"
              id="inChopp"
              class="form-control"
              placeholder="Chopp"
              formControlName="chopp"/>
          
          <p>
              <label>Pizzas</label>
              <input type="text"
              id="inPizzas"
              class="form-control"
              placeholder="Pizzas"
              formControlName="pizzas"/>
            </p>

            <p>
                <label>Recheios</label>
                <input type="text"
                id="inRecheios"
                class="form-control"
                placeholder="Recheios"
                formControlName="recheios"/>
              </p>

              <p>
                  <label>Pessoas</label>
                  <input type="text"
                  id="inPessoas"
                  class="form-control"
                  placeholder="Pessoas"
                  formControlName="pessoas"/>
                </p>



          <p class="keepcomanda">
            <input type="checkbox" name="inServico" formControlName="pagaServico"/>
            <label>Taxa de serviço</label>
          </p>

          <p class="comanda button">
            <input type="submit" value="Registrar" />
          </p>

        </form>
        <p class="about">Raul de Paiva Campos</p>
      </div>
    </div>
  </div>
</div>